# Ignores the mylogs.log file and doesnt show even if any changes made to it
mylogs.log
# To ignore all the files with a specific file extension, say .log then
*.log
# To ignore any folder
(Folder Name)/
# To ignore any file inside any folder or directory
/(File Name) 
# Additional comment of no use
hehe
