<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeautyZenith - </title>
    <link rel="stylesheet" href="/Web/Public/css/pages/main.css">
    <link rel="website icon" type="png" href="/Web/Public/img/Onlylogo_small.png">
  </head>
  <body onload="myFunction()">
    <nav class="menu" id="navbar"> <a class="brand" href="/Web/View/dist/index.html"><span class="brand__span">
          <ion-icon> 
            <logo> </logo>
          </ion-icon></span><span class="brand__span"> <img src="/Web/Public/img/logo.png"></span></a>
      <ul class="menu__list"> 
        <li class="menu__item" style="--i:0;"><a class="menu__link" href="#"><span class="menu__span">Search</span><span class="menu__span">
              <ion-icon name="search-sharp"></ion-icon></span></a></li>
        <li class="menu__item" style="--i:1;"><a class="menu__link" href="#"><span class="menu__span">Cart</span><span class="menu__span">
              <ion-icon name="cart-sharp" role="img"></ion-icon></span></a></li>
        <li class="menu__item" style="--i:2;"><a class="menu__link" href="#"><span class="menu__span">Category</span><span class="menu__span">
              <ion-icon name="list"></ion-icon></span></a></li>
        <li class="menu__item" style="--i:3;"><a class="menu__link" href="#"><span class="menu__span">Team</span><span class="menu__span">
              <ion-icon name="people-outline"></ion-icon></span></a></li>
        <li class="menu__item" style="--i:4;"><a class="menu__link" href="/Web/View/dist/login.html"><span class="menu__span">Login</span><span class="menu__span">
              <ion-icon name="log-in-outline"></ion-icon></span></a></li>
        <li class="menu__item" style="--i:5;"><a class="menu__link" href="#"><span class="menu__span">Contact</span><span class="menu__span">
              <ion-icon name="call-outline"></ion-icon></span></a></li>
      </ul>
    </nav>
    <footer> 
      <div class="footer-line"></div>
      <div class="footer-wrapper">  
        <section class="footer-top">
          <div class="footer-headline"> 
            <h2>Sign-Up to our Newsletter</h2>
            <p>Stay up to Date with our News and Articles!</p>
          </div>
          <div class="footer-subscribe">
            <input type="email" placeholder="Your Email">
            <button>Sign Up</button>
          </div>
        </section>
        <div class="footer-columns"> 
          <section class="footer-logo"><img src="/Web/Public/img/OnlyLogo.png" alt="Logo">
            <logo fill="none" viewbox="30 30 126 126"></logo>
            <h2 class="hide">BeautyZenith</h2>
          </section>
          <section> 
            <h3>Product </h3>
            <ul> 
              <li><a href="#" title="API">API</a></li>
              <li> <a href="#" title="Pricing">Pricing </a></li>
              <li> <a href="#" title="Documentation">Documentation</a></li>
              <li> <a href="#" title="Release_notes">Release Notes</a></li>
              <li> <a href="#" title="Status">Status</a></li>
            </ul>
          </section>
          <section> 
            <h3>Resources </h3>
            <ul> 
              <li> <a href="#" title="Support">Support</a></li>
              <li> <a href="#" title="Site_map">Site-Map</a></li>
              <li> <a href="#" title="Newsletter">Newsletter</a></li>
              <li> <a href="#" title="Help_Centre">Help Centre</a></li>
              <li> <a href="#" title="Investor">Investor</a></li>
            </ul>
          </section>
          <section> 
            <h3>Company </h3>
            <ul> 
              <li> <a href="#" title="About_us">About Us</a></li>
              <li> <a href="#" title="blog">Blog</a></li>
              <li> <a href="#" title="Carriers">Carriers</a></li>
              <li> <a href="#" title="Press">Press</a></li>
              <li> <a href="#" title="Contact">Contact</a></li>
            </ul>
          </section>
          <section> 
            <h3>Legal</h3>
            <ul> 
              <li> <a href="/Web/View/dist/terms_and_conditions.html" title="Terms">Terms & Conditions</a></li>
              <li> <a href="/Web/View/dist/PrivacyPolicy.html" title="Privacy">Privacy Policy</a></li>
              <li> <a href="#" title="Cookies">Cookie Settings</a></li>
              <li> <a href="#" title="Licenses">Licenses</a></li>
              <li> <a href="#" title="Contact">Contact</a></li>
            </ul>
          </section>
        </div>
        <div> 
          <div class="footer-bottom"> <small>©BeautyZenith Ltd. All Rights Reserved, <span id="year">hello</span></small><span class="social-links"><a href="#" title="Instagram"><img src="/Web/Public/img/instagram logo.svg" alt="Instagram"></a><a href="#" title="LinkedIn"><img src="/Web/Public/img/linkedin.svg" alt="LinkedIn"></a><a href="#" title="Twitter"><img src="/Web/Public/img/twitter.svg" alt="Twitter"></a><a href="#" title="Github"><img src="/Web/Public/img/Github.svg" alt="Github"></a></span></div>
        </div>
      </div>
    </footer>
  </body>
  <script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js" data-stencil-namespace="ionicons"></script>
  <script src="/Web/Public/js/index.js"> </script>
</html>