<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeautyZenith - Privacy Policy </title>
    <link rel="stylesheet" href="/Web/Public/css/components/PrivacyPolicy.css">
    <link rel="website icon" type="png" href="/Web/Public/img/Onlylogo_small.png">
  </head>
  <body> 
    <nav class="menu" id="navbar"> <a class="brand" href="/Web/View/Index/index.html"><span class="brand__span">
          <ion-icon> 
            <logo> </logo>
          </ion-icon></span><span class="brand__span"> <img src="/Web/Public/img/logo.png" href="/Web/View/Index/index.html"></span></a>
      <ul class="menu__list"> 
        <li class="menu__item" style="--i:0;"><a class="menu__link" href="#"><span class="menu__span">Search</span><span class="menu__span">
              <ion-icon name="search-sharp"></ion-icon></span></a></li>
        <li class="menu__item" style="--i:1;"><a class="menu__link" href="#"><span class="menu__span">Cart</span><span class="menu__span">
              <ion-icon name="cart-sharp" role="img"></ion-icon></span></a></li>
        <li class="menu__item" style="--i:2;"><a class="menu__link" href="#"><span class="menu__span">Category</span><span class="menu__span">
              <ion-icon name="list"></ion-icon></span></a></li>
        <li class="menu__item" style="--i:3;"><a class="menu__link" href="#"><span class="menu__span">Team</span><span class="menu__span">
              <ion-icon name="people-outline"></ion-icon></span></a></li>
        <li class="menu__item" style="--i:4;"><a class="menu__link" href="/Web/View/dist/login.html"><span class="menu__span">Login</span><span class="menu__span">
              <ion-icon name="log-in-outline"></ion-icon></span></a></li>
        <li class="menu__item" style="--i:5;"><a class="menu__link" href="#"><span class="menu__span">Contact</span><span class="menu__span">
              <ion-icon name="call-outline"></ion-icon></span></a></li>
      </ul>
    </nav>
    <section id="privacyPage"> 
      <div id="privacy-intro"> 
        <li class="privacy-notice"> 
          <h1>Privacy Notice </h1>
        </li>
        <li class="date">
          <p>Last Modified: May 5, 2023</p>
        </li>
        <li class="intro-part1"> 
          <p>Welcome to BeautyZenith ("us," "we," or "our"). We value your trust and are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you visit and use our website to purchase and import cosmetic products from China.</p>
        </li>
        <li class="intro-part2"> 
          <p>By accessing or using our website, you agree to the practices described in this Privacy Policy. If you do not agree with our practices, please do not use our website.</p>
        </li>
      </div>
      <div id="info-we-collect"> 
        <li class="info-heading"> 
          <h4>Information We Collect </h4>
        </li>
        <li class="info1"> 
          <p> <strong>Personal Information: </strong>When you make a purchase on our website, we collect information such as your Name, Billing and Shipping Addresses, E-mail Address, Phone Number, and Payment Information.</p>
        </li>
        <li class="info2"> 
          <p> <strong>Browsing Information: </strong>We collect non-personal information as well, including your IP address, browser type, device information, and pages visited on our website. This information helps us enhance your browsing experience and improve our services.</p>
        </li>
      </div>
      <div id="info-usage"> 
        <li class="info-usage-heading"> 
          <h4>How We Use Your Information </h4>
        </li>
        <li class="info-usage1"> 
          <p> <strong>Order Processing and Customer Service: </strong>We use your personal information to process your orders, fulfill your purchases and provide customer support related to your orders.</p>
        </li>
        <li class="info-usage2"> 
          <p> <strong>Communication: </strong>We may use your email address to send order confirmations, shipping updates, and other transaction-related communications. We may also send you marketing emails if you opt-in to receive them.</p>
        </li>
        <li class="info-usage3"> 
          <p> <strong>Improvement of Services: </strong>We analyze browsing information to understand how users interact with our website, identify areas for improvement, and optimize our website's performance and user experience.</p>
        </li>
        <li class="info-usage4"> 
          <p> <strong>Legal Obligations: </strong>We may disclose your personal information to comply with legal obligations, respond to government requests, or protect our rights, privacy, safety, or property, as permitted by law.</p>
        </li>
      </div>
      <div id="data-security"> 
        <li class="security-heading"> 
          <h4>Data Security Policy</h4>
        </li>
        <li class="security-info"> 
          <p>We implement industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.</p>
        </li>
      </div>
      <div id="cookies"> 
        <li class="cookies-heading"> 
          <h4>Cookies and Tracking Technologies</h4>
        </li>
        <li class="cookies-info"> 
          <p>We use cookies and similar tracking technologies to enhance your browsing experience, analyze usage patterns, and improve our website's functionality. You can modify your browser settings to control cookies or opt-out of certain tracking technologies.</p>
        </li>
      </div>
      <div id="third-party-services"> 
        <li class="services-heading"> 
          <h4>Third-Party Services</h4>
        </li>
        <li class="services-info"> 
          <p>We may use third-party services that collect, monitor, and analyze information to improve our services. These third-party service providers have their own privacy policies, and we recommend reviewing them.</p>
        </li>
      </div>
      <div id="children-policy">
        <li class="policy-heading"> 
          <h4>Children's Privacy</h4>
        </li>
        <li class="policy-info"> 
          <p>Our website is not intended for use by individuals under the age of 16. We do not knowingly collect personal information from children under 16. If you are a parent or guardian and believe your child has provided us with personal information, please contact us, and we will take steps to remove that information from our systems.</p>
        </li>
      </div>
      <div id="policy-changes"> 
        <li class="changes-heading"> 
          <h4>Changes to Privacy Policy</h4>
        </li>
        <li class="changes-info"> 
          <p>We may update our Privacy Policy from time to time. When we do, we will revise the "Last Updated" date at the top of this policy. Changes are effective upon posting, so we recommend reviewing this Privacy Policy periodically.</p>
        </li>
      </div>
      <div id="contact-details"> 
        <li class="contact-heading"> 
          <h4>Contact Us</h4>
        </li>
        <li class="contact-info"> 
          <p>If you have any questions, concerns, or requests related to your personal information or this Privacy Policy, please contact us at [contact email or form].</p>
        </li>
      </div>
      <div id="end"> 
        <li class="end-line"> 
          <p>Thank you for trusting BeautyZenith with your Cosmetic Product purchases.</p>
        </li>
      </div>
    </section>
    <footer> 
      <div class="footer-line"></div>
      <div class="footer-wrapper">  
        <section class="footer-top">
          <div class="footer-headline"> 
            <h2>Sign-Up to our Newsletter</h2>
            <p>Stay up to Date with our News and Articles!</p>
          </div>
          <div class="footer-subscribe">
            <input type="email" placeholder="Your Email">
            <button>Sign Up</button>
          </div>
        </section>
        <div class="footer-columns">
          <section class="footer-logo"><img src="/Web/Public/img/OnlyLogo.png" alt="Logo">
            <logo fill="none" viewbox="30 30 126 126"></logo>
            <h2 class="hide">BeautyZenith</h2>
          </section>
          <section>
            <h3>Product  </h3>
            <ul> 
              <li><a href="#" title="API">API</a></li>
              <li> <a href="#" title="Pricing">Pricing </a></li>
              <li> <a href="#" title="Documentation">Documentation</a></li>
              <li> <a href="#" title="Release_notes">Release Notes</a></li>
              <li> <a href="#" title="Status">Status</a></li>
            </ul>
          </section>
          <section> 
            <h3>Resources </h3>
            <ul> 
              <li> <a href="#" title="Support">Support</a></li>
              <li> <a href="#" title="Site_map">Site-Map</a></li>
              <li> <a href="#" title="Newsletter">Newsletter</a></li>
              <li> <a href="#" title="Help_Centre">Help Centre</a></li>
              <li> <a href="#" title="Investor">Investor</a></li>
            </ul>
          </section>
          <section> 
            <h3>Company </h3>
            <ul> 
              <li> <a href="#" title="About_us">About Us</a></li>
              <li> <a href="#" title="blog">Blog</a></li>
              <li> <a href="#" title="Carriers">Carriers</a></li>
              <li> <a href="#" title="Press">Press</a></li>
              <li> <a href="#" title="Contact">Contact</a></li>
            </ul>
          </section>
          <section> 
            <h3>Legal</h3>
            <ul> 
              <li> <a href="/Web/View/dist/terms_and_conditions.html" title="Terms">Terms & Conditions</a></li>
              <li> <a href="/Web/View/dist/PrivacyPolicy.html" title="Privacy">Privacy Policy</a></li>
              <li> <a href="#" title="Cookies">Cookie Settings</a></li>
              <li> <a href="#" title="Licenses">Licenses</a></li>
              <li> <a href="#" title="Contact">Contact</a></li>
            </ul>
          </section>
        </div>
        <div> 
          <div class="footer-bottom"> <small>©BeautyZenith Ltd. All Rights Reserved, <span id="year">hello</span></small><span class="social-links"><a href="#" title="Instagram"><img src="/Web/Public/img/instagram logo.svg" alt="Instagram"></a><a href="#" title="LinkedIn"><img src="/Web/Public/img/linkedin.svg" alt="LinkedIn"></a><a href="#" title="Twitter"><img src="/Web/Public/img/twitter.svg" alt="Twitter"></a><a href="#" title="Github"><img src="/Web/Public/img/Github.svg" alt="Github"></a></span></div>
        </div>
      </div>
    </footer>
  </body>
  <script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js" data-stencil-namespace="ionicons"></script>
  <script src="/Web/Public/js/index.js">    </script>
</html>